.container {
    margin: 50px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: auto;
    padding: 20px;
    background-color: beige;
    font-family: "bulletin-typewriter-mn", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.search-input-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1px;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 64px;
}
h2 {
    font-size: 36px;
    font-weight: 300;
}
h3 {
    font-size: 24px;
}

#books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 120px;
}

.book {
    padding: 20px;
    text-align: center;

}
.book img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.book h3 {
    margin: 10px 0 5px;
}

#searchInput {
    transition-property: width;
    transition-duration: 1s;
    width: 200px;
}

#searchInput:hover {
    width: 300px;
}

#searchInput:active {
    width: 300px;
}

.search-and-filter-bar input[type=text] {
    width: 300px;
    color: #463616;
    padding: 4px 8px 4px;
    border: 2px solid #937b4b;
    background-color: beige;
    border-radius: 4px;
    font-size: 24px;
    font-family: "bulletin-typewriter-mn", sans-serif;
}

button {
    color: #463616;
    border: 2px solid #937b4b;
    background-color: beige;
    border-radius: 4px;
    font-size: 24px;
    font-family: "bulletin-typewriter-mn", sans-serif;
    padding: 4px;
    cursor: pointer;
    width: 100px;
}

button:hover {
    background-color:#b9a680;
    transition: 0.5s;
    border: 2px solid #b9a680;
}

button:active {
    background-color: #937b4b;
    border: 2px solid #937b4b;
}

.filter-group input[type=checkbox] {
    background-color: beige;
}

select {
    font-family: "bulletin-typewriter-mn", sans-serif;
    background-color: beige;
    border: 2px solid #937b4b;
    border-radius: 4px;
    cursor: pointer;
}

select:hover {
    background-color: #e2cda3;
    transition: 0.5s;
}

option {
    font-family: "bulletin-typewriter-mn", sans-serif;
}

.filter-controls {
    margin: 20px;
}

.book-card {
    padding-bottom: 50px;
}

@media (width <= 600px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 24px;
    }

    #results-title h2 {
        font-size: 36px;
    }
    
    .search-input-wrapper {
        gap: 5px;
    }

    #searchButton {
        width: 150px;
        justify-content: center;
        background-color: #d6c29b;
        border: 2px solid beige;
        border-radius: 4px;
    }

    #searchButton:active {
        background-color: #937b4b;
        color: beige;
    }

    #searchInput {
        justify-content: center;
        text-align: center;
        transition-property: none;
        width: 200px;
    }

    #searchInput:active {
        width: 200px;
    }

    #searchInput:hover {
        width: 200px;
    }
}