.container {
    margin: 50px;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: auto;
    padding: 20px;
    background-color: beige;
    font-family: "bulletin-typewriter-mn", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 64px;
}
h2 {
    font-size: 36px;
    font-weight: 300;
}
h3 {
    font-size: 18px;
}

#books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.book {
    padding: 20px;
    text-align: center;

}
.book img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.book h3 {
    margin: 10px 0 5px;
}

.search-and-filter-bar input[type=text] {
    width: 300px;
    color: #463616;
    padding: 4px 8px 4px;
    border: 2px solid #937b4b;
    background-color: beige;
    border-radius: 4px;
    font-size: 24px;
    font-family: "bulletin-typewriter-mn", sans-serif;
}